html, body {
  margin: 0;
  padding: 0;
  font-family: 'Neue Haas Display', system-ui, sans-serif;
  background: #000;
  color: #fff;
  text-align: center;
}

h1, .heading-large {
  font-size: clamp(32px, 6vw, 72px);
  line-height: 1.2;
  color: #eabb47;
  margin: 0.5em 0;
}


h2, .heading-medium {
  font-size: clamp(20px, 3.5vw, 36px);
  line-height: 1.3;
  margin: 0.5em 0;
}

p, .body-text {
  font-size: clamp(16px, 2.2vw, 28px);
  line-height: 1.5;
  margin: 0.5em 0;
  color: #ddd;
}

.text-box {
  font-size: clamp(18px, 2.5vw, 32px);
  line-height: 1.4;
  color: #fff;
}

.cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  background: #fff;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 1em;
}

@font-face {
  font-family: 'Neue Haas Display';
  src: url('Fonts/NeueHaasDisplayRoman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

